<?xml version="1.0" encoding="utf-8"?>
<robot name="microduck">
  <material name="microduck_grey">
    <color rgba="0.322 0.322 0.337 1.0"/>
  </material>
  <material name="microduck_cream">
    <color rgba="0.969 0.902 0.796 1.0"/>
  </material>
  <material name="microduck_orange">
    <color rgba="0.973 0.306 0.020 1.0"/>
  </material>
  <material name="microduck_yellow">
    <color rgba="0.996 0.580 0.016 1.0"/>
  </material>
  <material name="microduck_motor">
    <color rgba="0.075 0.075 0.075 1.0"/>
  </material>
  <material name="microduck_bearing">
    <color rgba="0.659 0.667 0.675 1.0"/>
  </material>
  <material name="microduck_pcb">
    <color rgba="0.110 0.110 0.118 1.0"/>
  </material>
  <material name="microduck_battery">
    <color rgba="0.075 0.075 0.075 1.0"/>
  </material>
  <material name="microduck_lens">
    <color rgba="0.039 0.047 0.055 1.0"/>
  </material>
  <link name="base_link"/>
  <!-- ankle_left -->
  <link name="ankle_left">
    <visual>
      <origin xyz="-0.022 0.00622291 -0.0647" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/sole_left.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_yellow"/>
    </visual>
    <visual>
      <origin xyz="-0.022 0.00622291 -0.0647" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/foot_left.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_orange"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 -0.0322" rpy="0.000000 0.000000 3.141593"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration_default.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="-0.022 0.00622291 -0.0647" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/ankle_left.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_orange"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- leg -->
  <link name="leg">
    <visual>
      <origin xyz="-0.022 0.0357771 0.0385" rpy="1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/leg.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.042 -0.0115" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- upper_leg_left -->
  <link name="upper_leg_left">
    <visual>
      <origin xyz="-0.0 -0.0 -0.0425" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/upper_leg_left.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_cream"/>
    </visual>
    <visual>
      <origin xyz="0.022 0.0357771 0.0125" rpy="-3.141593 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="0.0 -0.0 -0.0425" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/upper_leg_rigidity_plate.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.022 0.0357771 -0.004" rpy="0.000000 0.000000 3.141593"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="-0.0 -0.0 0.0125" rpy="1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- hip_l -->
  <link name="hip_l">
    <visual>
      <origin xyz="0.021 0.0 -0.0185" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="-0.0175 0.0 -0.0185" rpy="-1.570796 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/hip_l.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- yaw2roll -->
  <link name="yaw2roll">
    <visual>
      <origin xyz="-0.0175 -0.002 0.0125" rpy="3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/yaw2roll.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="-0.0 0.0 0.0125" rpy="-3.141593 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="-0.0 0.0165 0.0125" rpy="1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="-0.0175 -0.002 0.0125" rpy="-3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/bearing_roll.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- jaw_soft -->
  <link name="jaw_soft">
    <visual>
      <origin xyz="0.0155 -9.13778e-05 -0.05548" rpy="-1.570796 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/lens.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_lens"/>
    </visual>
    <visual>
      <origin xyz="-0.0045 -9.13778e-05 -0.0178" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/face_part.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.003 0.0255 -0.018" rpy="0.000000 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="-0.0045 0.0 -0.018" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/motor_support.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="-0.0045 -0.0 -0.018" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/top_head_shell.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_cream"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0145" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="0.0032 -0.04 -0.018" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration_default.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="0.02694 0.0289936 -0.0519" rpy="0.000000 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/elec_rpi_robot_hat_pcb.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_pcb"/>
    </visual>
    <visual>
      <origin xyz="-0.00420071 1.7776e-08 -0.0180814" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/soft_mouth_top.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_yellow"/>
    </visual>
    <visual>
      <origin xyz="-0.0045 -9.13778e-05 -0.0178" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/noenoeil.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_yellow"/>
    </visual>
    <visual>
      <origin xyz="-0.0043 -0.0 -0.018" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/bottom_head_shell.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_orange"/>
    </visual>
    <visual>
      <origin xyz="0.0155 -9.13778e-05 -0.05558" rpy="-1.570796 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/m12_lens_holder.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.015435 -1.13778e-05 -0.06001" rpy="-1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/pcb__raspberry_pi_zero_2_w.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_pcb"/>
    </visual>
    <visual>
      <origin xyz="0.01 -0.016786 0.0260226" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/speaker.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- jaw link (15th actuated joint) -->
  <link name="jaw">
    <visual>
      <origin xyz="-0.0045 0.0 0.002" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/jaw.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_orange"/>
    </visual>
    <visual>
      <origin xyz="-0.0046 0.0 0.002" rpy="1.570796 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/jaw_soft.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_yellow"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- yaw_roll_motion -->
  <link name="yaw_roll_motion">
    <visual>
      <origin xyz="0.0 0.0 0.01" rpy="0.000000 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/yaw_roll_motion.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0145" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="-0.016 0.0 0.0145" rpy="-0.000000 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="0.018 0.0 0.0145" rpy="-0.000000 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- neck_pitch -->
  <link name="neck_pitch">
    <visual>
      <origin xyz="-0.0 0.0287931 -0.0145" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/neck_pitch.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="-0.0 0.0207931 -0.0145" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- neck -->
  <link name="neck">
    <visual>
      <origin xyz="0.022 0.05 0.028" rpy="1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/neck.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0145" rpy="-1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="0.0 -0.05 0.0145" rpy="1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="0.022 0.05 0.003" rpy="1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/neck.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- ankle_right -->
  <link name="ankle_right">
    <visual>
      <origin xyz="0.022 0.00622291 -0.0647" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/ankle_right.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_orange"/>
    </visual>
    <visual>
      <origin xyz="0.022 0.00622291 -0.0647" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/sole_right.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_yellow"/>
    </visual>
    <visual>
      <origin xyz="-0.0 0.0 -0.0292" rpy="3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration_default.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="0.022 0.00622291 -0.0647" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/foot_right.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_orange"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- leg_2 -->
  <link name="leg_2">
    <visual>
      <origin xyz="-0.042 0.0 -0.0115" rpy="-0.000000 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="-0.0357771 -0.022 0.0385" rpy="0.000000 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/leg.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- upper_leg_right -->
  <link name="upper_leg_right">
    <visual>
      <origin xyz="-0.022 0.0357771 0.0125" rpy="-0.000000 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="-0.022 0.0357771 0.0" rpy="3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0435" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/upper_leg_rigidity_plate.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="-0.0 0.0 -0.0425" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/upper_leg_right.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_cream"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0125" rpy="1.570796 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- hip_l_2 -->
  <link name="hip_l_2">
    <visual>
      <origin xyz="-0.0175 0.0 -0.0185" rpy="-1.570796 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/hip_l.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.025 0.0 -0.0185" rpy="1.570796 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- yaw2roll_2 -->
  <link name="yaw2roll_2">
    <visual>
      <origin xyz="-0.0175 -0.002 0.0125" rpy="3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/yaw2roll.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="-0.0 0.0 0.0125" rpy="-3.141593 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="-0.0175 -0.002 0.0125" rpy="-3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/bearing_roll.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="-0.0 0.0165 0.0125" rpy="1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <!-- trunk_base -->
  <link name="trunk_base">
    <visual>
      <origin xyz="0.006 0.0175 -0.005" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <visual>
      <origin xyz="0.004 -0.0005 -0.0175" rpy="0.000000 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/right_shell.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_cream"/>
    </visual>
    <visual>
      <origin xyz="0.0042 -0.0 -0.0175215" rpy="0.000000 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/banana_pcb_locker.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="0.004 -0.0 -0.0175" rpy="0.000000 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/trunk_base.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_cream"/>
    </visual>
    <visual>
      <origin xyz="0.006 0.0175 0.0115" rpy="3.141593 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="0.004 -0.0 -0.0175215" rpy="0.000000 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/power_support.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_grey"/>
    </visual>
    <visual>
      <origin xyz="-0.0359693 0.0 -0.00385049" rpy="3.124139 0.000000 -1.570796"/>
      <geometry>
        <mesh filename="../meshes/np_f970.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_battery"/>
    </visual>
    <visual>
      <origin xyz="0.006 -0.0175 0.0115" rpy="3.141593 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../meshes/xl330.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_motor"/>
    </visual>
    <visual>
      <origin xyz="0.004 -0.0 -0.0175785" rpy="0.000000 0.000000 1.570796"/>
      <geometry>
        <mesh filename="../meshes/left_shell.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_cream"/>
    </visual>
    <visual>
      <origin xyz="0.006 -0.0175 -0.005" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="../meshes/seeed_bearing__configuration__22x16x4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="microduck_bearing"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
    </inertial>
  </link>
  <joint name="floating_base" type="fixed">
    <parent link="base_link"/>
    <child link="trunk_base"/>
    <origin xyz="0 0 0.12" rpy="0 0 0"/>
  </joint>
  <joint name="left_ankle" type="revolute">
    <parent link="leg"/>
    <child link="ankle_left"/>
    <origin xyz="0.0 0.042 -0.026" rpy="3.141593 -0.000000 0.000000"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.222" upper="1.222" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="left_knee" type="revolute">
    <parent link="upper_leg_left"/>
    <child link="leg"/>
    <origin xyz="0.022 0.0357771 -0.004" rpy="3.141593 0.000000 1.570796"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-2.094" upper="-0.035" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="left_hip_pitch" type="revolute">
    <parent link="hip_l"/>
    <child link="upper_leg_left"/>
    <origin xyz="0.025 0.0 -0.0185" rpy="-1.570796 0.000000 -1.570796"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.571" upper="1.571" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="left_hip_roll" type="revolute">
    <parent link="yaw2roll"/>
    <child link="hip_l"/>
    <origin xyz="0.0 0.0165 0.0125" rpy="-1.570796 0.000000 0.000000"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.384" upper="0.384" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="head_roll" type="revolute">
    <parent link="yaw_roll_motion"/>
    <child link="jaw_soft"/>
    <origin xyz="-0.0179 0.0 0.0145" rpy="-0.000000 -1.570796 0.000000"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.611" upper="0.611" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="head_yaw" type="revolute">
    <parent link="neck_pitch"/>
    <child link="yaw_roll_motion"/>
    <origin xyz="-0.0 0.0186931 -0.0145" rpy="1.570796 0.000000 -3.141593"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.222" upper="1.222" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="head_pitch" type="revolute">
    <parent link="neck"/>
    <child link="neck_pitch"/>
    <origin xyz="0.0 -0.05 -0.0" rpy="3.141593 0.000000 0.000000"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.222" upper="1.222" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="right_ankle" type="revolute">
    <parent link="leg_2"/>
    <child link="ankle_right"/>
    <origin xyz="-0.042 0.0 -0.026" rpy="-3.141593 0.000000 1.570796"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.222" upper="1.222" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="right_knee" type="revolute">
    <parent link="upper_leg_right"/>
    <child link="leg_2"/>
    <origin xyz="-0.022 0.0357771 -0.004" rpy="3.141593 0.000000 0.000000"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-2.094" upper="-0.035" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="right_hip_pitch" type="revolute">
    <parent link="hip_l_2"/>
    <child link="upper_leg_right"/>
    <origin xyz="0.025 0.0 -0.0185" rpy="-1.570796 0.000000 -1.570796"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.571" upper="1.571" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="right_hip_roll" type="revolute">
    <parent link="yaw2roll_2"/>
    <child link="hip_l_2"/>
    <origin xyz="-0.0 0.0165 0.0125" rpy="1.570796 0.000000 3.141593"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.384" upper="0.384" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="left_hip_yaw" type="revolute">
    <parent link="trunk_base"/>
    <child link="yaw2roll"/>
    <origin xyz="0.006 0.0175 -0.005" rpy="-3.141593 0.000000 1.570796"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.436" upper="0.524" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="neck_pitch" type="revolute">
    <parent link="trunk_base"/>
    <child link="neck"/>
    <origin xyz="0.026 0.0145 0.0324215" rpy="-1.570796 0.000000 -3.141593"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.436" upper="0.873" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="right_hip_yaw" type="revolute">
    <parent link="trunk_base"/>
    <child link="yaw2roll_2"/>
    <origin xyz="0.006 -0.0175 -0.005" rpy="3.141593 0.000000 1.570796"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.524" upper="0.436" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
  <joint name="jaw" type="revolute">
    <parent link="jaw_soft"/>
    <child link="jaw"/>
    <origin xyz="0 0 -0.02" rpy="0 0 0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="0.0" upper="0.5" effort="1.0" velocity="10.0"/>
    <dynamics damping="0.053" friction="0.0048"/>
  </joint>
</robot>
